html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

#map { 
  height: 100%; 
}

ul {
  margin: 0; 
  list-style-type: none;
  padding: 2% 5% 0px 5%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  font-size: 18px; 
  padding-bottom: 4px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
  border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
  padding-left: 5%;
  padding-top: 3%;
}

.title-container{
  background-color: #4285F4;
  color: #fff;
}

.title-establishments{
  font-family: Roboto, sans-serif;
  text-align: center;
}

.list-item-category {
  font-family: Roboto, sans-serif;
  display: block;
  font-size: 12px; 
  padding-bottom: 3%;
}

h2 {
  font-weight: normal;
  margin: 0px; 
  padding: 10px; 
}

.infoWindow-title {
  font-size: 18px;
}

.listview{
  height: 325px;
  width: 325px;
  position: absolute;
  bottom: 2%;
  left: 1%;
  background: rgba(255, 255, 255, .95); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: scroll;
}

.show-hide-listings {
  position: absolute;
  margin: 10px;
  cursor: pointer;
  left: 0px;
  top: 40px;
}

.show-container {
  float: left;
  position: relative;
}

.hide-container{
  float: left;
  position: relative;
}

#show-button {
  direction: ltr;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: Roboto, Arial, sans-serif;
  user-select: none;
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  padding: 11px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  min-width: 21px;
  font-weight: 500;
}

#hide-button {
  direction: ltr;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: Roboto, Arial, sans-serif;
  user-select: none;
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  padding: 11px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  min-width: 21px;
  font-weight: 100;
}



@media only screen and (max-width: 500px) {

  li {
    font-size: 18px; 
    padding-bottom: 4px; 
  }

  .listview{
    height: 30%;
    width: 96%;
    position: absolute;
    bottom: 2%;
    left: 2%;
    background: rgba(255, 255, 255, .95); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: scroll;
  }
}